<h1>Lista de Usuários</h1>
<a href="{% url 'adicionar_usuario' %}">Adicionar Usuário</a>
<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for usuario in usuarios %}
    <tr>
      <td>{{ usuario.username }}</td>
      <td>{{ usuario.email }}</td>
      <td>
        <a href="{% url 'editar_usuario' usuario.id %}">Editar</a> |
        <a
          href="{% url 'excluir_usuario' usuario.id %}"
          onclick="return confirm('Tem certeza que deseja excluir este usuário?');"
          >Excluir</a
        >
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="3">Nenhum usuário encontrado.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
