{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link
      rel="icon"
      type="image/png"
      href="{% static 'img/logo-fazendinha1.png' %}"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Inter:400,600,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/site.css' %}">
  </head>
  <body class="login-page">
    <div class="login-container">
      <h2>Login</h2>
      {% if messages %}
      <div class="mensagem-erro">
        {% for message in messages %} {{ message }} {% endfor %}
      </div>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        <label for="username">E-mail:</label>
        <input type="text" name="username" id="username" required />

        <label for="password">Senha:</label>
        <input type="password" name="password" id="password" required />

        <button type="submit">Entrar</button>
        <a href="{% url 'cadastro_escola' %}">Cadastre sua escola</a>
      </form>
    </div>
  </body>
</html>
